h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cabin Sketch";
  text-transform: none;
}
body {
  font-family: Lato;
}
.gallery a img:hover,
.navbar-nav a img:hover,
.gallery a img:focus,
.navbar-nav a img:focus,
.gallery a img:active,
.navbar-nav a img:active {
  cursor: pointer;
  box-shadow: 0 0 10px 3px #5EA0B0;
  border-radius: 20px;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 150px;
  }
  .navbar-fixed-top {
    padding: 10px 0;
  }
}
.ada {
  font-family: Comfortaa!important;
  text-transform: lowercase!important;
  font-weight: 300!important;
}
.ada strong {
  text-transform: uppercase!important;
  font-weight: 700!important;
}
.ada-intro {
  font-size: 30px;
}
.logo {
  width: 80%;
}
.navbar {
  font-family: Lato;
}
.navbar-default {
  background-color: #9BDAE1;
}
.navbar-default .navbar-nav .active a {
  border-radius: 10px;
}
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
  border-radius: 10px;
}
.navbar-default .navbar-nav .change-lang a {
  background-color: transparent;
  padding-left: 5px;
}
.navbar-default .navbar-nav .change-lang a:hover,
.navbar-default .navbar-nav .change-lang a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav .change-lang a img {
  width: 20px;
}
.navbar-default .navbar-nav .change-lang a img:hover,
.navbar-default .navbar-nav .change-lang a img:focus,
.navbar-default .navbar-nav .change-lang a img:active {
  border-radius: 100px !important;
}
#about .portfolio-link img {
  width: 100px;
}
.member {
  margin-bottom: 25px;
}
.event-title {
  font-weight: bold;
  margin-top: 10px;
}
.bcnjs img {
  width: 20%;
}
.meetup-logo {
  width: 30%;
}
.coming-soon {
  font-family: "Special Elite", cursive;
  font-size: 36px;
  font-weight: bold;
  color: crimson;
  position: absolute;
  top: 80px;
  left: 40px;
  -ms-transform: rotate(-20deg);
  /* IE 9 */
  -webkit-transform: rotate(-20deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-20deg);
  padding: 5px 10px 0 10px;
  border: 2px dashed crimson;
  pointer-events: none;
}
.justify {
  text-align: justify;
}
