@import url(https://fonts.googleapis.com/css?family=Lato:300,900);
@import url(https://fonts.googleapis.com/css?family=Paytone+One);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700);
@import url(https://fonts.googleapis.com/css?family=Signika:300,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:300,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:300,700);
@import url(https://fonts.googleapis.com/css?family=Kreon:300,700);
@import url(https://fonts.googleapis.com/css?family=Corben:400,700);
@import url(https://fonts.googleapis.com/css?family=Overlock:400,900);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,900);
@import url(https://fonts.googleapis.com/css?family=Coustard:400,900);
.signika {
  font-family: Signika !important;
}
.ubuntu {
  font-family: Ubuntu !important;
}
.lato {
  font-family: Lato !important;
}
.quicksand {
  font-family: Quicksand !important;
}
.nunito {
  font-family: Nunito !important;
}
.comfortaa {
  font-family: Comfortaa !important;
}
.yanone {
  font-family: "Yanone Kaffeesatz" !important;
}
.josefin {
  font-family: "Josefin Slab" !important;
}
.kreon {
  font-family: Kreon !important;
}
.corben {
  font-family: Corben !important;
}
.overlock {
  font-family: Overlock !important;
}
.mavenpro {
  font-family: "Maven Pro" !important;
}
.coustard {
  font-family: Coustard !important;
}
.overlock strong,
.mavenpro strong,
.coustard strong {
  font-weight: 900;
}
